
<div class="container">

  <h2>your orders:</h2>
  <div class="row">

      <div class="col-sm-1 col-md-3" *ngFor="let order of myCarGallery.carById.a">
          <div class="thumbnail">

              <div class="caption">

                  <h2 (order)="order"></h2>
                  <hr/>
                  <div routerLink="carOrder/{{selectedOrder.ManufacturerName}}">
                <a (click)="setItem(order)"> <img  [src]="order.VehiclePic"/>  </a>
                    </div>
              
                
              </div>
          </div>
      </div>

  </div>
</div>
<hr/>
<router-outlet></router-outlet>
